.projects-page__projects {
    max-width: 1440px;
    width: 80vw;
  
    margin: 100px auto;
  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}