// PAGE BACKGROUND
// $page-BackgroundColor-light: rgba(240, 240, 240, 1); 
$page-BackgroundColor-light: #ececec; 
$page-BackgroundColor-dark: #151515;

// LIGHT MODE. TEXT COLORS
$main-color: #260063;
$text-color: #555;
$accent-color: #222;

// DARK MODE. TEXT COLORS
$main-color-dark: #eee;
$text-color-dark: #999;
$accent-color-dark: #222;

//FONT-SIZE
$paragraphFontSize: 1rem;
$paragraphFontSize_smaller: .875rem;
$header2: 1.25rem;

