@import '../../globalStyleVariables/global.scss';

.btn {
    margin-top: 1rem;
    padding: .15rem;

    width: 110px;
    height: 45px;

    font-size: $paragraphFontSize;
    font-weight: bold;
    color: $main-color;

    background: transparent;

    border-radius: 100px;
    border: 2px solid $main-color;

    cursor: pointer;

    &:hover {
        box-shadow: 2px 4px 8px rgba(160, 160, 160, 0.5);
    }
}
