@import '../globalStyleVariables/global.scss';

.backbutton-wrapper {
    background: transparent;
    border: none;
    cursor: pointer;
    position: fixed;
    top: 1rem;
    left: 1rem;
}

.backbutton-text {
    color: $light-color;
    font-size: 20px;
    position: relative;
    margin-left: 60px;
    font-weight: 600;
    &:hover {
        color: $main-color;
        transition: all .3s;
        &::after {
            background: $main-color;
            transition: all .3s;
        }
        &::before {
            border-color: $main-color;
            transition: all .3s;
        }
    }

    &::before {
        content: '';
        position: absolute;
        top: 9px;
        left: -65px;
        height: 10px;
        width: 10px;
        border: solid $light-color;
        border-width: 0px 0px 2px 2px;
        transform: rotate(45deg);
    }
    &::after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -65px;
        height: 2px;
        width: 60px;
        background: $light-color;

        border: 0px 0px 1px 1px solid blue;
    }
}