* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  color: rgba(80, 80, 95, 1);
}

body {
  background: rgba(240, 240, 240, 1);
}

.tasks-wrapper__layout {
  max-width: 1440px;
  width: 80vw;
  margin: auto auto;

  display: flex;
  flex-wrap: wrap;

  justify-content: flex-start;
}

